.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 435px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

img {
    width: 320px;
    height: 240px;
}

.profile-img {
    width: 20px;
    height: 20 px;
}

.operation-btn {
    display: flex;
    flex-direction: column;
}

.each-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}